---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getCars } from "../services/api.js";

const cars = await getCars().then((res) => {
  return res.map((car) => {
    return car.fields;
  });
});
---

<Layout
  title="Guti's Clasic Cars"
  description="Guttis clasics cars is a website website where you can see classic cars to rent for events such as weddings or your personal enjoyment."
>
  <div class="flex flex-wrap gap-4 mt-4">
    {cars.map((car) => <Card car={car} class="w-full md:w-auto" />)}
  </div>
</Layout>
