<style>
  section {
    mask-image: linear-gradient(black 90%, transparent);
  }
  @media (min-width: 500px) and (max-width: 767px) {
    section {
      height: 20rem;
    }
  }

  @media (min-width: 768px) {
    section {
      height: 32rem;
    }
  }
</style>

<section
  class="relative w-full h-[10rem] lg:h-[32rem] 2xl:h-[40rem] md:h-[32rem] overflow-hidden bg-black"
  style={`background-image: url(/logoGCC.avif); background-size: cover; background-position: center;`}
>
  <div class="absolute inset-0 flex items-center justify-center text-center">
    <h1
      class="text-white text-2xl md:text-5xl lg:text-7xl 2xl:text-7xl font-extrabold opacity-95"
    >
      GUTI'S CLASSIC CARS
    </h1>
  </div>
</section>
